* {
    background-color: rgb(236, 205, 137);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hi {
    font-size: 24px;
    padding: 1em;
}

li {
    font-size: 16px;
    margin: 8px;
}